[mysqld]
user                = mysql
port                = 3306
datadir             = /var/lib/mysql
socket              = /run/mysqld/mysqld.sock
log_error           = /var/log/mysql/error.log
bind_address        = 0.0.0.0